<section >
  <h1>Posts</h1>
  <div class = "user-item">
    <div class = "user-img-container">
      <img src="<%= @user.photo %>" />
    </div>
    <div class = "user-info">
        <div class = "user-name-container"><h3><%=@user.name %><h3></div>
        <div class = "user-cont-container">Number of posts: <%= @user.posts_counter || 0 %></div>
    </div>
  </div>

  <ul class="posts-list">
  <% @user.recents.each do |post| %>
    <li class ="post-item-container"> 
    <%= link_to user_post_path(@user.id, post.id) do %>
      <div class="post-item">
        <h4><%= post.title %></h4>
        <% end %>
        <p><%= post.text %></p>
        <div class="post-cont-container">
          <span>Comments: <%= post.comments_counter || 0 %> </span>
          <span> Likes: <%= post.likes_counter || 0 %></span>
        </div>
      </div>   
      <div class="comments">
        <p> <%= 'There is no comment yet' if post.comments.length === 0 %></p>
        <% post.recents.each do |comment| %>
          <p><%= comment.user.name %>: <%= comment.text %></p>
        <% end %>
      </div>
    </li>
  <% end %>
  </ul>
  <button>
  <%= link_to user_posts_path(@user.id) do %>
   Pagination
  <% end %>
  </div>

  </div>
</div>